#root {
  background-color: rgb(0, 8, 31);
  border: 1px solid rgb(92, 0, 128);
  border-radius: 20px;
  padding: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template: 
  ". a a ." max-content
  ". b c ." max-content
  ". d d ." max-content 
  ". e e ." max-content / auto auto auto auto;
  row-gap: 1rem;
  column-gap: 2rem;
}

body {
  display: flex;
  justify-content: center;
}

.counter-display {
  margin: 0;
  font-size: 2rem;
  grid-area: a;
  text-align: center;
}

.counter-mod {
  height: 3rem;
  background-color: rgb(57, 8, 170);
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter .1s ease;
}

.counter-mod:first-of-type {
  grid-area: b;
}

.counter-mod:nth-of-type(2) {
  grid-area: c;
}

.counter-mod:nth-of-type(3) {
  grid-area: e;
}

.counter-mod:disabled {
  color: inherit;
  filter: brightness(.7);
}

.step-inp {
  grid-area: d;
  height: fit-content;
  border: 1px solid rgb(43, 32, 187);
  background-color: rgb(13, 21, 29);
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 10px;

}